<form [formGroup]="form">
  <div class="habilidades-page" formGroupName="habilidades">
    <div class="habilidadesTitle">
      <h2>Habilidades</h2>
    </div>
    

    <div class="section evolucoes">
      <div class="evolucoesTitle">
        <h3>Evoluções</h3>
      </div>
      
      <div class="inputs-row">
        <label>
          Combatente
          <input class="inputNumber" type="number" formControlName="combatente" />
        </label>
        <label>
          Especialista
          <input class="inputNumber" type="number" formControlName="especialista" />
        </label>
        <label>
          Ocultista
          <input class="inputNumber" type="number" formControlName="ocultista" />
        </label>
      </div>
    </div>

    <div formArrayName="poderes" class="section poderes">
      <div class="sectionTitle">
        <h3>Poderes</h3>
        <button type="button" (click)="adicionarPoder()">Adicionar Poder</button>
      </div>
      <div class="item" *ngFor="let p of poderes.controls; let i = index" [formGroupName]="i">
        <div class="itemNomeCustoContainer">
          <label>
          Nome
          <input type="text" formControlName="nome" />
          </label>
          <label>
            Custo
            <input type="number" formControlName="custo" />
          </label>
        </div>
        <label class="full">
          Descrição
          <textarea formControlName="descricao"></textarea>
        </label>
      </div>
    </div>

    <div class="section rituais" formArrayName="ritual">
      <div class="sectionTitle">
        <h3>Rituais</h3>
        <button type="button" (click)="adicionarRitual()">Adicionar Ritual</button>
      </div>
      <div class="item" *ngFor="let p of rituais.controls; let i = index" [formGroupName]="i">
        <div class="itemNomeCustoContainer">
          <label>
          Nome
          <input type="text" formControlName="nome" />
          </label>
          <label>
            Custo
            <input type="number" formControlName="custo" />
          </label>
          <label>
            Componentes
            <input type="text" formControlName="componentes" />
          </label>
        </div>
        <label class="full">
          Descrição
          <textarea formControlName="descricao"></textarea>
        </label>
      </div>
    </div>
  </div>
</form>
