<div class="habilidades-page">
  <div class="habilidadesTitle">
    <h2>Habilidades</h2>
  </div>
  

  <div class="section evolucoes">
    <div class="evolucoesTitle">
      <h3>Evoluções</h3>
    </div>
    
    <div class="inputs-row">
      <label>
        Combatente
        <input class="inputNumber" type="number" [(ngModel)]="combatente" />
      </label>
      <label>
        Especialista
        <input class="inputNumber" type="number" [(ngModel)]="especialista" />
      </label>
      <label>
        Ocultista
        <input class="inputNumber" type="number" [(ngModel)]="ocultista" />
      </label>
    </div>
  </div>

  <div class="section poderes">
    <div class="sectionTitle">
      <h3>Poderes</h3>
      <button>Adicionar Poder</button>
    </div>
    <div class="item">
      <div class="itemNomeCustoContainer">
        <label>
        Nome
        <input type="text" [(ngModel)]="poderNome" />
        </label>
        <label>
          Custo
          <input type="number" [(ngModel)]="poderCusto" />
        </label>
      </div>
      <label class="full">
        Descrição
        <textarea [(ngModel)]="poderDescricao"></textarea>
      </label>
    </div>
  </div>

  <div class="section rituais">
    <div class="sectionTitle">
      <h3>Rituais</h3>
      <button>Adicionar Ritual</button>
    </div>
    <div class="item">
      <div class="itemNomeCustoContainer">
        <label>
        Nome
        <input type="text" [(ngModel)]="ritualNome" />
        </label>
        <label>
          Custo
          <input type="number" [(ngModel)]="ritualCusto" />
        </label>
        <label>
          Componentes
          <input type="text" [(ngModel)]="ritualComponentes" />
        </label>
      </div>
      <label class="full">
        Descrição
        <textarea [(ngModel)]="ritualDescricao"></textarea>
      </label>
    </div>
  </div>
</div>
