<form [formGroup]="form">
<div class="background-page">
  <h2>Background</h2>

  <div class="section aparencia">
    <h3>Aparência</h3>
    <div class="aparenciaContainer">
      <div class="aparenciaSimplesContainer">
        <label>
          Altura
          <input type="number" formControlName="altura" />
        </label>
        <label>
          Cor dos olhos
          <input type="text" formControlName="corDosOlhos" />
        </label>
        <label>
          Membros decepados
          <input type="text" formControlName="membrosDecepados" />
        </label>
      </div>

      <div class="aparenciaGeralContainer">
        <label>
          Aparência geral
          <textarea formControlName="aparenciaGeral"></textarea>
        </label>
      </div>
    </div>
  </div>

  <label class="field">
    História
    <textarea formControlName="historia" ></textarea>
  </label>

  <div formArrayName="pessoasImportantes" class="section pessoas-importantes">
    <div class="sectionTitle">
      <h3>Pessoas Importantes</h3>
      <button type="button" (click)="adicionarPessoa()">Adicionar Pessoa</button>
    </div>
    <div  class="pessoasImportantesItensContainer">
      <div class="item" *ngFor="let p of pessoasImportantes.controls; let i = index" [formGroupName]="i">
        <label>
          Nome
          <input type="text" formControlName="nomePessoa" />
        </label>
        <label>
          Relação
          <input type="text" formControlName="relacaoPessoa" />
        </label>
      </div>
    </div>
    
  </div>

  <label class="field">
    Traumas
    <textarea formControlName="traumas" ></textarea>
  </label>

  <label class="field">
    Âncoras
    <textarea formControlName="ancoras" ></textarea>
  </label>
</div>
</form>