<div class="background-page">
  <h2>Background</h2>

  <div class="section aparencia">
    <h3>Aparência</h3>
    <div class="aparenciaContainer">
      <div class="aparenciaSimplesContainer">
        <label>
          Altura
          <input type="number" [(ngModel)]="altura" />
        </label>
        <label>
          Cor dos olhos
          <input type="text" [(ngModel)]="corDosOlhos" />
        </label>
        <label>
          Membros decepados
          <input type="text" [(ngModel)]="membrosDecepados" />
        </label>
      </div>

      <div class="aparenciaGeralContainer">
        <label>
          Aparência geral
          <textarea [(ngModel)]="aparenciaGeral"></textarea>
        </label>
      </div>
    </div>
  </div>

  <label class="field">
    História
    <textarea [(ngModel)]="historia" ></textarea>
  </label>

  <div class="section pessoas-importantes">
    <div class="sectionTitle">
      <h3>Pessoas Importantes</h3>
      <button>Adicionar Pessoa</button>
    </div>
    <div class="pessoasImportantesItensContainer">
      <div class="item" *ngFor="let pessoa of pessoasImportantes; let i = index">
        <label>
          Nome
          <input type="text" [(ngModel)]="pessoa.nome" />
        </label>
        <label>
          Relação
          <input type="text" [(ngModel)]="pessoa.relacao" />
        </label>
      </div>
    </div>
    
  </div>

  <label class="field">
    Traumas
    <textarea [(ngModel)]="traumas" ></textarea>
  </label>

  <label class="field">
    Âncoras
    <textarea [(ngModel)]="ancoras" ></textarea>
  </label>
</div>
