.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  color: black;

  min-width: 500px;

  border-radius: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .modalHeader {
  background-color: #4CAF50;
  display: flex;
  width: 100%;
  justify-content: end;
}
.modal .containerCloseButton{
  display: flex;
  min-height: 25px;
  margin-right: 10px;
}
.modal .containerCloseButton button{
  background: transparent;
  border: 0;
  border-radius: 10px;
  color: #cfcfcf;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.modal .containerCloseButton button:hover {
    background-color: rgba(255, 0, 0, 0.35);
    color: white;
}
