<div class="inventario-page">
  <h2>Inventário</h2>

  <label class="field">
    Dinheiro
    <input type="number" [(ngModel)]="dinheiro" />
  </label>

  <div class="itens">
    <div class="sectionTitle">
      <h3>Itens</h3>
      <button>Adicionar Item</button>
    </div>
    <div class="item" *ngFor="let item of itens; let i = index">
      <div class="row">
        <div class="itemNomeQuantidadeContainer">
          <label>
          Nome
          <input type="text" [(ngModel)]="item.nome" />
          </label>
          <label>
            Quantidade
            <input type="number" [(ngModel)]="item.quantidade" />
          </label>
        </div>
        
        <label class="textareaContainer">
          Descrição
          <textarea [(ngModel)]="item.descricao"></textarea>
        </label>
      </div>
    </div>
  </div>
</div>
