/* You can add global styles to this file, and also import other style files */
body{
    background-image: 
    linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    url("/textures/rastrodecthulhu3.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}
body input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
}
input,textarea {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  background-color: #C0C0C0;
  border-radius: 20px;
  text-align: center;
}