.notas-page {
  padding: 1.25rem;
  display: grid;
  gap: 1.25rem;
}
.notasTitleContainer{
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

textarea {
 resize: horizontal;
 min-height: 100px;
}
